// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-container{
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  
  .header{
    width: 200px;
    color: #F0F0F0;
  }

  #map{
    height: 500px;
    width: 500px;
  }
}


